elpa/*
*.elc
recentf*
*~
auto-save-list/
anaconda-mode/
ac-comphist.dat
url/
*cache*
backups/
tramp
.org-id-locations
eshell/history
eshell/lastdir
.python-environments
/projectile-bookmarks.eld
irony/*
.cask/*
/network-security.data
/server/server
session.*
irony/*
irony/bin/*
irony/*
.python-environments
*/smex-items/*
smex-items
abbrev_defs
*/custom.el
custom.el
srecode-map.el
lisp/custom.el
